@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap">
    <title>Sivir Coffee</title>
</head>
<body>
    <header class="BackgroundIMG">
        <nav class="NavList">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contatos</a></li>
                <li><a href="">Fazer Pedido</a></li>
            </ul>
        </nav>
        <div>
            <h1 class="Coffe" >Tem café ?</h1>
            <h1 class="Frase" >Prove o melhor gosto de café brasileiro <br /> que o seu paladar já experimentou</h1>
        </div>
        <button class="Buy">Shop now</button>
    </header>
    <footer></footer>
</body>
</html>